.exploration__button {
  margin-top: 27px;
  text-align: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.exploration__button:active {
  transform: scale(1.2);
  filter: brightness(1.1);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 30px;
  font-style: italic;
  margin-top: 9.835px;
  margin-bottom: 9.835px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

p {
  font-weight: 500;
  font-size: 16px;
}

.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 287px;
  background-color: #EAEAEA;
}
.exploration__title {
  text-align: center;
  width: 275px;
  height: 68px;
  margin-top: 39.5px;
}
.exploration__title h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.exploration__subtitle {
  width: 315px;
  height: 46px;
  text-align: center;
}
.exploration__subtitle p {
  margin: 0px;
  font-weight: 300;
  font-size: 18px;
}

@media screen and (min-width: 768.98px) {
  .exploration {
    height: auto;
    padding-bottom: 30px;
  }
  .exploration__title {
    width: 100%;
    margin-top: 30px;
  }
  .exploration__title h2 {
    font-size: 40px;
  }
  .exploration__subtitle {
    width: 100%;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 113px;
}

header .logo {
  z-index: 1;
  text-align: center;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.location {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #D2D2D2;
}

form {
  display: flex;
  align-items: center;
  width: 142px;
  height: 50px;
  gap: 17px;
  background-color: #D2D2D2;
}

input {
  width: 113px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-align: start;
  border-style: none;
  background: #D2D2D2;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 46px 20px 68px 20px;
  gap: 24.92px;
}

nav h2 {
  margin: 0px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72.38px;
  gap: 27px;
  padding-left: 33.47px;
  margin-left: 12.5px;
  border-radius: 20px;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.nav__list i {
  color: #7E7E7E;
}
.nav__list:active {
  transform: scale(1.1);
}
.nav__list:active i {
  color: #9356DC;
}

.list__number {
  position: absolute;
  text-align: center;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  width: 24px;
  height: 19px;
  margin-left: -45px;
  color: #F7F7F7;
  border-radius: 50%;
  background-color: #9356DC;
}

.restaurants {
  background-color: #EAEAEA;
  padding: 52px 18px 66px 17px;
}
.restaurants__block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.restaurants h2 {
  margin: 0px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 251px;
  border-radius: 15px;
  background-color: #FFFFFF;
  overflow: hidden;
}
.card__picture {
  position: relative;
  width: 100%;
  height: 88.44621514%;
  top: -22.70916335%;
}
.card__picture img {
  width: 100%;
  height: 100%;
}
.card__picture--placement {
  -o-object-fit: cover;
     object-fit: cover;
}
.card__new {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #008766;
  height: 11.55378486%;
  width: 80px;
  position: absolute;
  top: 10px;
  right: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.card__new p {
  margin: 0px;
  font-size: 14px;
}
.card__text {
  padding-left: 13px;
  position: relative;
  bottom: 60px;
}

.card h3 {
  margin-bottom: 5px;
}

.card p {
  margin: 0px;
}

@media screen and (min-width: 735px) {
  .restaurants__block {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 28px auto auto;
    gap: 18px 18px;
  }
  h2 {
    grid-area: 1/1/2/3;
  }
  .card__item1 {
    grid-area: 2/1/3/2;
  }
  .card__item2 {
    grid-area: 2/2/3/3;
  }
  .card__item3 {
    grid-area: 3/1/4/2;
  }
  .card__item4 {
    grid-area: 3/2/4/3;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    display: grid;
    max-width: 1024px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 31px auto;
    gap: 25px 24px;
    margin: 0px auto;
  }
  nav h2 {
    grid-area: 1/1/2/4;
  }
  nav__list .list__item1 {
    grid-area: 2/1/3/2;
  }
  nav__list .list__item2 {
    grid-area: 2/2/3/3;
  }
  nav__list .list__item3 {
    grid-area: 2/3/3/4;
  }
  .restaurants {
    padding: 30px auto;
  }
  .restaurants__block {
    justify-content: center;
    gap: 25px 3.44827586%;
    margin: 0px auto;
    max-width: 1024px;
  }
  .card {
    max-width: 490px;
  }
}
footer {
  display: flex;
  flex-direction: column;
  padding: 22px 25px;
  gap: 9px;
  color: #FFFFFF;
  background-color: #353535;
}

footer h1 {
  font-size: 18px;
  margin: 0px;
  margin-bottom: 5px;
}

.footer__block {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: baseline;
}
.footer__block i {
  font-size: 14px;
}

footer p {
  margin: 0px;
}/*# sourceMappingURL=style.css.map */