body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 30px;
  font-style: italic;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}

h4 {
  font-weight: bolder;
  font-size: 18px;
}

h5 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 18px;
  font-style: italic;
}

p {
  font-weight: 300;
  font-size: 16px;
}

.load__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background-color: black;
  opacity: 0.9;
  animation: loading 3s forwards;
}

.loading {
  border-radius: 70% 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  position: absolute;
  animation: loading 3s forwards;
}

.loading__background {
  border-radius: 70% 35%;
  width: 300px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  position: absolute;
}

.loading__background::before, .loading__background::after {
  content: "";
  border-radius: 70% 35%;
  position: absolute;
  background: linear-gradient(193.33deg, #9356DC, #FF79DA, #99E2D0, #9356DC, #FF79DA, #99E2D0);
  background-size: 200%;
  width: 300px;
  height: 200px;
  z-index: 4;
  transform: scale(1.07);
  animation: loading--animation 1s infinite;
}

.loading__background::after {
  filter: blur(20px);
}

.loading__block {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D2D2D2;
  width: 300px;
  height: 200px;
  border-radius: 70% 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  position: absolute;
}
.loading__block h1 {
  font-size: 45px;
  color: black;
  backface-visibility: visible;
  position: absolute;
  top: 70px;
  left: 20px;
}
.loading__block p {
  position: absolute;
  top: 125px;
  left: 60px;
  font-size: 25px;
  font-family: "Shrikhand", cursive;
}

@keyframes loading--animation {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 150% 0;
  }
  50% {
    background-position: 300% 0;
  }
  75% {
    background-position: 150% 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes loading {
  0% {
    transform: scaleX(1);
  }
  99% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
header {
  order: 0;
  align-items: center;
  width: 100%;
  background-color: white;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 63px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
header .logo .home {
  display: flex;
  text-align: center;
  width: 22px;
  height: 30px;
  position: absolute;
  left: 30px;
}
header .logo .home i {
  font-size: 25px;
}
header .logo .home a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.location {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #D2D2D2;
}

form {
  display: flex;
  align-items: center;
  width: 142px;
  height: 50px;
  gap: 17px;
  background-color: #D2D2D2;
}
form input {
  width: 113px;
  font-weight: 500;
  font-size: 16px;
  text-align: start;
  border-style: none;
  background: #D2D2D2;
}

@media screen and (min-width: 1440px) {
  header .logo {
    height: 96px;
  }
  header .logo h1 {
    font-size: 44px;
  }
}
.exploration {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 57px;
  background-color: #EAEAEA;
}
.exploration__title {
  text-align: center;
  width: 275px;
  height: 68px;
  margin-top: 39.5px;
}
.exploration__subtitle {
  width: 315px;
  height: 46px;
  text-align: center;
}
.exploration__subtitle p {
  font-size: 18px;
}

.exploration__button {
  margin-top: 27px;
  text-align: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  transition-property: transform;
  transition-duration: 300ms;
}
.exploration__button:hover {
  transform: scale(1.2);
  filter: brightness(1.1);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

@media screen and (min-width: 768.98px) {
  .exploration {
    padding-bottom: 30px;
  }
  .exploration__title {
    width: 100%;
    margin-top: 30px;
  }
  .exploration__title h2 {
    font-size: 40px;
  }
  .exploration__subtitle {
    width: 100%;
  }
}
main {
  order: 2;
}

nav {
  display: flex;
  order: 3;
  flex-direction: column;
  padding: 46px 20px 68px 20px;
  gap: 24.92px;
}
nav .nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72.38px;
  gap: 27px;
  padding-left: 33.47px;
  margin-left: 12.5px;
  border-radius: 20px;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  transition-property: transform;
  transition-duration: 300ms;
}
nav .nav__list p {
  font-weight: bold;
}
nav .nav__list i {
  color: #7E7E7E;
}
nav .nav__list:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 17px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
nav .nav__list:hover i {
  color: #9356DC;
  transform: scale(1.5);
}
nav .list__number {
  text-align: center;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  width: 24px;
  height: 24px;
  margin-left: -45px;
  color: #F7F7F7;
  border-radius: 50%;
  background-color: #9356DC;
}

.restaurants {
  background-color: #EAEAEA;
  padding: 52px 18px 66px 17px;
  overflow: hidden;
}
.restaurants__block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 251px;
  border-radius: 15px;
  background-color: #FFFFFF;
  overflow: hidden;
  cursor: pointer;
}
.card__picture {
  position: relative;
  width: 100%;
  height: 88.44621514%;
  top: -22.70916335%;
}
.card__picture img {
  width: 100%;
  height: 100%;
}
.card__picture--placement {
  -o-object-fit: cover;
     object-fit: cover;
}
.card__new {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #008766;
  height: 11.55378486%;
  width: 80px;
  position: absolute;
  border-radius: 2px;
  top: 15px;
  right: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.card__new p {
  font-size: 17px;
}
.card__text {
  display: flex;
  flex-direction: row;
  padding-left: 13px;
  position: relative;
  bottom: 35px;
  justify-content: space-between;
}
.card__text .text__block {
  display: flex;
  flex-direction: column;
  width: 164px;
}
.card__text i {
  position: absolute;
  z-index: 3;
  top: 15px;
  right: 25px;
  font-size: 1.5em;
  color: white;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  transition-property: all;
  transition-duration: 2s;
}
.card__text i:hover {
  background: -webkit-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #9356DC;
}
.card a {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}

.menu__restaurant {
  display: flex;
  z-index: 2;
  margin-top: 220px;
  flex-direction: column;
  background-color: #EAEAEA;
  padding: 35px 13px 40px 13px;
  max-width: 1055px;
  width: 100%;
  gap: 40px;
  border-radius: 30px 30px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.menu__restaurant .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2px;
  gap: 60px;
  align-items: center;
}
.menu__restaurant .title h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  white-space: nowrap;
}
.menu__restaurant .title i {
  z-index: 2;
  cursor: pointer;
  font-size: 1.5em;
  color: white;
  text-shadow: 0px 0px 2px rgb(0, 0, 0);
  transition-property: all;
  transition-duration: 2s;
}
.menu__restaurant .title i:hover {
  background: -webkit-linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  color: #9356DC;
}
.menu__restaurant .menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__restaurant .menu .block__h3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 27px;
}
.menu__restaurant .menu .block__h3 h3 {
  font-weight: 300;
  font-size: 16px;
}
.menu__restaurant .menu .block__h3 .color__bar {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  border-radius: 15px;
}
.menu__restaurant .menu .menu__block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  border-radius: 15px;
  background-color: #FFFFFF;
  cursor: pointer;
  overflow: hidden;
}
.menu__restaurant .menu .menu__block:hover .slide__check {
  display: flex;
  flex-shrink: 0;
}
.menu__restaurant .menu .menu__block .card__text2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  flex: auto;
  overflow: hidden;
  width: 285px;
}
.menu__restaurant .menu .menu__block .card__text2 h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__restaurant .menu .menu__block .card__text2 p {
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__restaurant .menu .menu__block .price {
  display: flex;
  flex: initial;
  align-items: end;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-right: 13px;
  height: 45px;
  margin-top: 12px;
  font-weight: 700;
  font-size: 15px;
  flex-shrink: 0;
}
.menu__restaurant .menu .menu__block .slide__check {
  display: none;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 69px;
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu__restaurant .menu .menu__block .slide__check i {
  background-color: white;
  font-size: 1.5em;
  color: #99E2D0;
  border-radius: 50%;
}
.menu__restaurant .block__button {
  display: flex;
  justify-content: center;
}
.menu__restaurant .block__button .exploration__button {
  margin-top: 0px;
}

.img__restaurant {
  display: flex;
  z-index: -1;
  position: absolute;
  order: 1;
  width: 100%;
  height: 275px;
  top: 63px;
}
.img__restaurant img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card__item1 {
  animation: card--animation 2s forwards;
}

.card__item2 {
  animation: card--animation 2s forwards;
  animation-delay: 500ms;
}

.card__item3 {
  animation: card--animation 2s forwards;
  animation-delay: 1000ms;
}

.card__item4 {
  animation: card--animation 2s forwards;
  animation-delay: 1500ms;
}

.menu__item1 {
  animation: card--animation 2s forwards;
}

.menu__item2 {
  animation: card--animation 2s forwards;
  animation-delay: 100ms;
}

.menu__item3 {
  animation: card--animation 2s forwards;
  animation-delay: 200ms;
}

.menu__item4 {
  animation: card--animation 2s forwards;
  animation-delay: 300ms;
}

@keyframes card--animation {
  from {
    transform: translateY(1000px);
  }
  to {
    transform: translateY(0px);
  }
}
@media screen and (min-width: 735px) {
  .restaurants__block {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 28px auto auto;
    gap: 18px 18px;
  }
  h2 {
    grid-area: 1/1/2/3;
  }
  .card__item1 {
    grid-area: 2/1/3/2;
  }
  .card__item2 {
    grid-area: 2/2/3/3;
    animation-delay: 0s;
  }
  .card__item3 {
    grid-area: 3/1/4/2;
    animation-delay: 500ms;
  }
  .card__item4 {
    grid-area: 3/2/4/3;
    animation-delay: 500ms;
  }
  .menu__restaurant {
    padding-left: 100px;
    padding-right: 100px;
  }
  .menu__restaurant .title {
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) {
  nav {
    display: grid;
    max-width: 1024px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 31px auto;
    gap: 25px 24px;
    margin: 0px auto;
  }
  nav h2 {
    grid-area: 1/1/2/4;
  }
  nav__list .list__item1 {
    grid-area: 2/1/3/2;
  }
  nav__list .list__item2 {
    grid-area: 2/2/3/3;
  }
  nav__list .list__item3 {
    grid-area: 2/3/3/4;
  }
  .restaurants {
    padding: 30px 18px;
  }
  .restaurants__block {
    justify-content: center;
    gap: 25px 25px;
    margin: 0px auto;
    max-width: 1024px;
  }
  .card {
    max-width: 490px;
  }
  .menu__restaurant {
    padding-left: 150px;
    padding-right: 150px;
  }
}
@media screen and (min-width: 1440px) {
  .restaurants {
    position: relative;
    padding: 30px 0px;
  }
  .restaurants__block {
    gap: 50px 100px;
  }
  .restaurants h2 {
    position: absolute;
    top: 55px;
  }
  .img__restaurant {
    display: flex;
    position: absolute;
    order: 1;
    width: 100%;
    height: 500px;
    top: -100px;
  }
  .img__restaurant img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .menu__restaurant {
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 250px;
  }
}
footer {
  order: 3;
  z-index: 3;
  -o-object-position: bottom;
     object-position: bottom;
  padding: 22px 25px;
  gap: 10px;
  color: #FFFFFF;
  background-color: #353535;
}
footer h1 {
  margin-bottom: 5px;
}

.footer__block {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: baseline;
}
.footer__block .fa-utensils, .footer__block .fa-handshake-angle {
  font-size: 0.8em;
}

.footer__item3 {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    padding: 57.333px 100px 30px 0px;
  }
  footer h5 {
    order: 4;
  }
  footer .footer__item1 {
    order: 1;
  }
  footer .footer__item2 {
    order: 2;
    margin-right: 35px;
  }
  footer .footer__item3 {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    gap: 10px;
    order: 3;
  }
}/*# sourceMappingURL=style.css.map */