.exploration {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: $background-grey;
        &__title {
            width: 275px;
            height: 68px;
        }
}

.exploration p {
    margin: 0px;
    font-weight: 300;
    font-size: 18px;
}