footer {
    display: flex;
    flex-direction: column;
    padding: 22px 25px;
    height: 186px;
    gap: 9px;
    color: #FFFFFF;
    background-color: $background-black;
}

footer h1 {
    font-size: 18px;
    margin: 0px;
    margin-bottom: 18px;
}

.footer__block {
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: baseline;
        i {
            font-size: 14px;
        }
}

footer p {
    margin: 0px;
}