footer {
    padding: 22px 25px;
    gap: 9px;
    color: #FFFFFF;
    background-color: $background-black;
        h1 {
            margin-bottom: 5px;
        }
}

.footer__block {
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: baseline;
        .fa-utensils, .fa-handshake-angle{
            font-size: 0.8em;
        }
}

@media screen and (min-width: 1440px) {
    footer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 1fr;
            h4 {
                grid-area: 1 / 5 / 2 / 6;
            }
            .footer__block {
                
            }
    }
}