footer {
    padding: 22px 25px;
    gap: 9px;
    color: #FFFFFF;
    background-color: $background-black;
        h1 {
            margin-bottom: 5px;
        }
}

.footer__block {
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: baseline;
        .fa-utensils, .fa-handshake-angle {
            font-size: 0.8em;
        }
}

.footer__item3 {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1440px) {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: baseline;
        padding: 57.333px 100px 30px 0px;
            h4 {
                order: 4;
            }
            .footer__item1 {
                order: 1;
            }
            .footer__item2 {
                order: 2;
                margin-right: 35px;
            }
            .footer__item3 {
                display: flex;
                flex-direction: row;
                margin-right: 30px;
                gap: 10px;
                order: 3;
            }
    }
}