header {
    align-items: center;
    width: 100%;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 63px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.location {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $background-darkgrey;
}

form {
    display: flex;
    align-items: center;
    width: 142px;
    height: 50px;
    gap: 17px;
    background-color: $background-darkgrey;
    input {
        width: 113px;
        font-weight: 500;
        font-size: 16px;
        text-align: start;
        border-style: none;
        background: $background-darkgrey;
    }
}

@media screen and (min-width: 1440px) {
    header .logo {
        height: 96px;
         h1 {
            font-size: 44px;
         }
    }
}