header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 113px;
        &_location {
            flex-direction: row;
            width: 100%;
            height: 48.77px;
            margin-top: 20px;
            background-color: var($background-darkgrey);
        }
        .logo {
            width: 162px;
            height: 30px;
            margin-top: -10px;
            margin-bottom: 18px;
        }
}