nav {
    display: flex;
    flex-direction: column;
    padding: 46px 20px 68px 20px;
    gap: 24.92px;
        .nav__list {
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 72.38px;
            gap: 27px;
            padding-left: 33.47px;
            margin-left: 12.5px;
            border-radius: 20px;
            background-color: #F7F7F7;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            transition-property: transform;
            transition-duration: 300ms;
                p {
                    font-weight: bold;
                }
                i {
                    color: #7E7E7E;
                }
                @include nav__list--animation;
        }
        .list__number {
            text-align: center;
            padding-top: 2.5px;
            padding-bottom: 2.5px;
            width: 24px;
            height: 19px;
            margin-left: -45px;
            color: #F7F7F7;
            border-radius: 50%;
            background-color: $primary-color;
        }
}

.restaurants {
    background-color: $background-grey;
    padding: 52px 18px 66px 17px;
    &__block {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 251px;
    border-radius: 15px;
    background-color: #FFFFFF;
    overflow: hidden;
    cursor: pointer;
        &__picture {
            position: relative;
            width: 100%;
            height: 88.44621514%;
            top: -22.70916335%;
                img {
                    width: 100%;
                    height: 100%;
                }
                &--placement {
                    object-fit: cover;
                }
        }
        &__new {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $tertiary-color;
            color: $color-darkgreen;
            height: 11.55378486%;
            width: 80px;
            position: absolute;
            border-radius: 2px;
            top: 15px;
            right: 15px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            p {
                font-weight: 300;
                font-size: 17px;
            }
        }
        &__text {
            display: flex;
            flex-direction: row;
            padding-left: 13px;
            position: relative;
            bottom: 35px;
            justify-content: space-between;
                .text__block {
                    display: flex;
                    flex-direction: column;
                    width: 164px;
                }
                .block__heart {
                    width: 22px;
                    height: 21px;
                    position: relative;
                    right: 25px;
                    top: 10px;
                    text-align: center;
                    justify-content: center;
                    &:hover, :active {
                        animation: heart--animation 2s;
                        transform-origin: center;
                    }
                        .fa-regular {
                            font-size: 1.35em;
                            
                        }
                        .fa-solid {
                            
                            font-size: 1.35em;
                            color: #9356DC;    
                        }
                }
        }
}

@keyframes heart--animation {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.card__item1 {
    animation: card--animation 2s forwards;
}

.card__item2 {
    animation: card--animation 2s forwards;
    animation-delay: 500ms;
}

.card__item3 {
    animation: card--animation 2s forwards;
    animation-delay: 1000ms;
}

.card__item4 {
    animation: card--animation 2s forwards;
    animation-delay: 1500ms;
}

@keyframes card--animation {
    from {
        transform: translateY(1000px);
    }
    to {
        transform: translateY(0px);
    }
}

@media  screen and (min-width: 735px) {
    .restaurants__block {
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 28px auto auto;
        gap: 18px 18px;
    }
    h2 {
        grid-area: 1 / 1 / 2 / 3;
    }
    .card__item1 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .card__item2 {
        grid-area: 2 / 2 / 3 / 3;
        animation-delay: 0s;
    }
    .card__item3 {
        grid-area: 3 / 1 / 4 / 2;
        animation-delay: 500ms;
    }
    .card__item4 {
        grid-area: 3 / 2 / 4 / 3;
        animation-delay: 500ms;
    }
}

@media screen and (min-width: 1024px) {
    nav {
        display: grid;
        max-width: 1024px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 31px auto;
        gap: 25px 24px;
        margin: 0px auto;
            h2 {
                grid-area: 1 / 1 / 2 /4;
            }
        &__list {
            .list__item1 {
                grid-area: 2 / 1 / 3 / 2;
            }
            .list__item2 {
                grid-area: 2 / 2 / 3 / 3;
            }
            .list__item3 {
                grid-area: 2 / 3 / 3 / 4;
            }
        }
    }
    .restaurants {
        padding: 30px 18px;
        &__block {
            justify-content: center;
            gap: 25px 25px;  
            margin: 0px auto;
            max-width: 1024px;
        }
    }
    .card {
        max-width: 490px;
    }
}

@media screen and (min-width: 1440px) {
    .restaurants {
        position: relative;
        padding: 30px 0px;
        &__block {
            gap: 50px 100px;
        }
        h2 {
            position: absolute;
            top: 55px;
        }
    }
}