@mixin exploration__button--animation {
    &:hover {
        transform: scale(1.2);
        filter: brightness(1.1);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.35);
        cursor: pointer;
    }
}

@mixin nav__list--animation {
    &:hover {
        transform: scale(1.1);
        box-shadow: 0px 6px 17px rgba(0, 0, 0, 0.35);
        cursor: pointer;
        i {
            color: $primary-color;
            transform: scale(1.5);
        }
    }
}

.loading {
    border-radius: 70% 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: absolute;
    animation: loading 3s forwards;
}

.loading__background {
    border-radius: 70% 35%;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    position: absolute;
}

.loading__background::before, .loading__background::after {
    content: "";
    border-radius: 70% 35%;
    position: absolute;
    background: linear-gradient(193.33deg, $primary-color, $secondary-color, $tertiary-color, $primary-color, $secondary-color, $tertiary-color);
    background-size: 200%;
    width: 300px;
    height: 200px;
    z-index: 4;
    transform: scale(1.07);
    animation: loading--animation 1s infinite;
}

.loading__background::after {
    filter: blur(20px);
}

.loading__block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background-darkgrey;
    width: 300px;
    height: 200px;
    border-radius: 70% 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    position: absolute;
        h1 {
            font-size: 45px;
            color: black;
            backface-visibility: visible;
            position: absolute;
            top: 70px;
            left: 20px;
        }
        p {
            position: absolute;
            top: 125px;
            left: 60px;
            font-size: 25px;
            font-family: $font-family-logo;
        }
}

@keyframes loading--animation {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 150% 0;
    }
    50% {
        background-position: 300% 0;
    }
    75% {
        background-position: 150% 0;
    }
    100% {
        background-position: 0 0;
    }    
}

@keyframes loading {
    0% {
        transform: scaleX(1);
    }
    99% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}