$color-lightgreen: #99E2D0;
$color-darkgreen: #008766;
$color-lightblue: #89C8FA;
$color-darkblue: #003A68;
$color-purple: #9356DC;
$color-location: #EAEAEA;
$background-nav: #D2D2D2;
$background-restaurants: #D2D2D2;
$background-footer: #353535;