$color-lightgreen: #99E2D0;
$color-darkgreen: #008766;
$color-lightblue: #89C8FA;
$color-darkblue: #003A68;
$color-purple: #9356DC;

$background-location-color: #EAEAEA;
$background-nav-color: #D2D2D2;
$background-restaurants-color: #D2D2D2;
$background-footer-color: #353535;